:root {
    --light: #fff;
    --dark: #67717d;
    --primary-color: #add8e6;
    --secondary-color: #343a40;
    --line-height: 1.5;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 0.5%;
  }

  header section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  header section h1 {
    font-size: 400%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-right: 1%;
    padding-left: 5%;
    padding-right: 1%;
  }
  
  header section img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  header nav {
    margin-right: 5%;
    flex-grow: 2;
    width: 100%;
  }
  
  header nav ul {
    flex-direction: row;
    display: flex;
    margin-right: 5%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }