:root {
    --light: #fff;
    --dark: #67717d;
    --primary-color: #add8e6;
    --secondary-color: #343a40;
    --line-height: 1.5;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: var(--text-color);
  }
 
  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 0.5%;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 1em 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 400%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-right: 1%;
    padding-left: 5%;
    padding-right: 1%;
  }
  
  header img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  header nav {
    margin-right: 5%;
    flex-grow: 2;
    width: 100%;
  }
  
  header nav ul {
    flex-direction: row;
    display: flex;
    margin-right: 5%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  header nav ul li a:hover {
    color: var(--light);
    background-color: var(--primary-color);
  }

  header .banner {
    position: relative;
    width: 100%;
    background-color: var(--secondary-color);
  }

  header .banner img {
    width: 100%;
    border-radius: 0;
    min-height: 300px;
  }

  main {
    max-width: 1000px;
    margin: 5% auto;
    padding: 0.5%;
  }
  
  .about, .work, .contact, .resume {
    display: flex;
    flex-direction: column;
}
.about section,
.work .projects,
.contact section,
.resume section {
    padding: 20px;
    margin-left: 10px;
    border-left: 5px solid var(--primary-color);
}

.about h3,
.work h3,
.contact h3,
.resume h3 {
  font-size: 400%;
  color: var(--secondary-color);
  text-align: right;
      flex: 1 0 170px;
}

.about section p {
    line-height: 1.5;
    font-size: 150%;
    margin: 1.5% 0;
  }

  .work .main-project-image-container img,
.work .project-image-container img {
  width: 100%;
  aspect-ratio: 16/9;
  transition: all 0.25s ease-in-out;
}

.work .main-project-image-container img:hover,
.work .project-image-container img:hover {
  transform: scale(1.2);
}

.work .project-title {
    display: inline-block;
    background: var(--primary-color);
    padding: 2%;
    color: var(--secondary-color);
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 0;
  }

.work .project-title h4,
.work .project-title p {
  color: var(--secondary-color);
}

.work .project-title h4 {
   font-size: 200%;
}

.work .project-title p {
  margin-top: 2%;
  font-size: 125%;
}

.showcase {
    margin: 0 auto;
    margin-top: 1.4%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .showcase .project-image-container {
    width: 49.5%;
    margin: 0.5% 0;
  }

  .showcase .project-image-container:nth-child(even) {
    margin-left: 0.5%;
  }

  .showcase .project-image-container:nth-child(odd) {
    margin-right: 0.5%;
  }

  .showcase .project-image-container img {
    width: 100%;
  }

  .contact section {
    width: 100%;
  }

  .contact section ul {
    display: flex;
    justify-content: space-around;
  }

  .contact section ul li {
    border-bottom: 3px solid var(--primary-color);
    font-size: 125%;
    color: var(--secondary-color);
  }

  footer {
    display: flex;
    justify-content: center;
  }
  
  footer p {
    font-size: 125%;
    color: var(--secondary-color);
    margin: 1.5%;
  }

  @media screen and (max-width: 768px) {

    .about,
    .work,
    .contact,
    .resume {
      flex-direction: column;
    }

    .about h3,
    .work h3,
    .contact h3,
    .resume h3 {
      text-align: center;
    }

    .about section,
    .work .projects,
    .contact section,
    .resume section {
      border-left: none;
    }

    .contact section {
        margin: 0;
      }
    }

    @media screen and (max-width: 583px) {

      header {
        flex-direction: column;
      }
      
      header section {
        flex-direction: column;
        align-items: center;
      }
      
      header section img {
        margin-top: 1%;
      }

      header nav {
        margin: 0;
       }

       header nav ul {
        flex-direction: column;
        margin: 0;
      }

      header nav ul li a {
        text-decoration: none;
      }

      .showcase .project-image-container {
        width: 100%;
      }

      .showcase .project-image-container:nth-child(even),
      .showcase .project-image-container:nth-child(odd) {
        margin: 0.5% 0;
      }

      .contact section ul {
        flex-direction: column;
        align-items: center;
      }
    
      .contact section ul li {
        margin: 1%;
      }
    }