:root {
    --light: #fff;
    --dark: #67717d;
    --primary-color: #add8e6;
    --secondary-color: #343a40;
    --line-height: 1.5;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 0.5%;
  }

  header section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  header section h1 {
    font-size: 400%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-right: 1%;
    padding-left: 5%;
    padding-right: 1%;
  }
  
  header section img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  
  header nav {
    margin-right: 5%;
    flex-grow: 2;
    width: 100%;
  }
  
  header nav ul {
    flex-direction: row;
    display: flex;
    margin-right: 5%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  header nav ul li a:hover {
    color: var(--light);
    background-color: var(--primary-color);
  }

  header .banner {
    position: relative;
    width: 100%;
    background-color: var(--secondary-color);
  }

  header .banner img {
    width: 100%;
    border-radius: 0;
    min-height: 300px;
  }

  main {
    max-width: 1000px;
    margin: 5% auto;
    padding: 0.5%;
  }
  
  .about, .work, .contact, .resume {
    display: flex;
    flex-direction: column;
}
.about section,
.work .projects,
.contact section,
.resume section {
    padding: 20px;
    margin-left: 10px;
    border-left: 5px solid var(--primary-color);
}

.about h3,
.work h3,
.contact h3,
.resume h3 {
  font-size: 400%;
  color: var(--secondary-color);
  text-align: right;
      flex: 1 0 170px;
}

.about section p {
    line-height: 1.5;
    font-size: 150%;
    margin: 1.5% 0;
  }

  .work .main-project-image-container img,
.work .project-image-container img {
  width: 100%;
  aspect-ratio: 16/9;
  transition: all 0.25s ease-in-out;
}

.work .main-project-image-container img:hover,
.work .project-image-container img:hover {
  transform: scale(1.2);
}

.work .project-title {
    display: inline-block;
    background: var(--primary-color);
    padding: 2%;
    color: var(--secondary-color);
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 0;
  }

.work .project-title h4,
.work .project-title p {
  color: var(--secondary-color);
}

.work .project-title h4 {
   font-size: 200%;
}

.work .project-title p {
  margin-top: 2%;
  font-size: 125%;
}

.showcase {
    margin: 0 auto;
    margin-top: 1.4%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }